<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container mt-5 p-5">
			<div class="card card-sh">
				<div class="card-header text-center">
					<p class="fs-4">View Cart Page</p>
					<p th:if="${session.successMsg}" th:text="${session.successMsg}"
						class="text-success fw-bold">
					<div th:text="${@commonServiceImpl.removeSessionMessage()}"></div>
					</p>

					<div th:if="${session.errorMsg}" th:text="${session.errorMsg}"
						class="text-danger fw-bold">
						<div th:text="${@commonServiceImpl.removeSessionMessage()}"></div>
					</div>
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Sr. No.</th>
								<th scope="col">Image</th>
								<th scope="col">Product Name</th>
								<th scope="col">Price</th>
								<th scope="col">Quentity</th>
								<th scope="col">Totel Price</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cart : ${carts}">
								<th scope="row">[[${cart.id}]]</th>
								<td><img alt="loading..."
									th:src="@{'/img/p_i/'+${cart.product.image}}" width="50px" height="50px"></td>
								<td>[[${cart.product.title}]]</td>
								<td>[[${cart.product.discountPrice}]]</td>
								<td><a th:href="@{'/user/cartQuantityUpdate?sy=de&cid='+${cart.id}}"><i class="fa-solid fa-minus"></i></a>
								 [ [[${cart.quantity}]] ] 
								 <a th:href="@{'/user/cartQuantityUpdate?sy=in&cid='+${cart.id}}"><i class="fa-solid fa-plus"></i></a></td>
								<td>[[${cart.totalPrice}]]</td>
							</tr>
							
							<tr>
							   <td colspan="4"></td>
							   <td class="fw-bold">Total Price</td>
							   <td class="fw-bold">&#8377; [[${totalOrderPrice}]]</td>
							</tr>
							
						</tbody>
					</table>
					<div class="text-center">
					    <a href="/user/orders" class="btn btn-warning">Procced Payment</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>